* {
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 500px;
    max-width: 100%;
}

header{
    background-color: white;
    padding: 20px 40px;
}

header h1{
    margin: 0;
    text-align: center;
}



/* registration */

form {
    padding: 30px 40px;
}

.form-content {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

input:focus {
	outline: 0;
	border-color: #777;
}



#error {
    display: block;
    color: red;
}

/*  error message */
#emailError {
    display: none;
    font-size: 0.8em;
    color: red;
  }
  
  #emailError.visible {
    display: block;
  }
  
  #passwordError {
    display: none;
    font-size: 0.8em;
    color: red;
  }
  
  #passwordError.visible {
    display: block;
  }
  
  input.invalid {
    border-color: red;
  }
  

















form button {
    background-color: orange;
    border: 2px solid orange;
    border-radius: 4px;
    color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}

.toSignIn {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 4px;
    color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

/* index (sign in) */

.toRegistration {
    background-color: grey;
    border: 2px solid grey;
    border-radius: 4px;
    color: #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

/* start */

img#succesIcon {
    width: 50%;
    display: block;
    max-width: 100px;
    text-align: revert;
    margin: auto;
    margin-top: 40px;
}


ul {
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
    color: black;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}